<script src="~/ckeditor/ckeditor.js" asp-append-version="true"></script>
@model IEnumerable<SriReportSuite.Models.Patient>

@{
    ViewData["Title"] = "Patient List";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Patients" asp-action="Index" method="get">
    <p>
        <table>
            <tr>
                <td>City :</td>
                <td> @Html.DropDownList("city","All") </td>
                <td> Surname : </td>
                <td> <input type="text" name="searchString" /> </td>
                <td> <input type="submit" value="Filter" /> </td>
            </tr>
        </table>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospNum)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedures)
        </th>

        <th>
            Links
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospNum)
            </td>
            <td>

                @Html.Raw(item.Diagnosis)


            </td>
            <td>
                @Html.Raw(item.Procedures)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.PatientID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
    }
</table>
