@model IEnumerable<SriReportSuite.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedures)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospNum)
        </td>
        <td>
            @Html.Raw(item.Diagnosis)
        </td>
        <td>
            @Html.Raw(item.Procedures)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PatientID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PatientID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
        </td>
    </tr>
}
</table>
